@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 270 52% 22%;
    --muted: 270 20% 95%;
    --muted-foreground: 270 10% 40%;
    --popover: 0 0% 100%;
    --popover-foreground: 270 52% 22%;
    --border: 270 20% 90%;
    --input: 270 20% 90%;
    --card: 0 0% 100%;
    --card-foreground: 270 52% 22%;
    --primary: 270 52% 22%;
    --primary-foreground: 0 0% 100%;
    --secondary: 270 20% 95%;
    --secondary-foreground: 270 52% 22%;
    --accent: 270 20% 95%;
    --accent-foreground: 270 52% 22%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;
    --ring: 270 52% 22%;
    --radius: 0.5rem;
    --chart-1: 270 20% 95%;
    --chart-2: 270 30% 85%;
    --chart-3: 270 40% 75%;
    --chart-4: 270 50% 65%;
    --chart-5: 270 52% 22%;
    --sidebar-background: 270 20% 95%;
    --sidebar-foreground: 270 52% 22%;
    --sidebar-primary: 270 52% 22%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 270 20% 95%;
    --sidebar-accent-foreground: 270 52% 22%;
    --sidebar-border: 270 20% 90%;
    --sidebar-ring: 270 52% 22%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}
